<style>
    #map {
        width: 100%;
        height: 100%;
    }

    .scroll {
        height: 100%;
    }

    .rating {
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    .rating li {
        padding: 1px;
        color: #ddd;
        font-size: 20px;
        text-shadow: .05em .05em #aaa;
        list-style-type: none;
        display: inline-block;
        cursor: pointer;
    }
    .rating li.filled {
        color: #fd0; //#21568b
    }
</style>
<ion-view title="Map">
    <ion-content >
        <div id="map" data-tap-disabled="true"></div>
        <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">Rate</h1>
                </ion-header-bar>
                <ion-content style="padding: 10px">
                    <p>
                        Consistency: <span star-rating ng-model="rating1" max="5" on-rating-selected="rateFunction(rating)"></span>
                    </p>
                    <p>
                        Comfort: <span star-rating ng-model="rating2" max="5" on-rating-selected="rateFunction(rating)"></span>
                    </p>
                    <p>
                        Route duration: <span star-rating ng-model="rating3" max="5" on-rating-selected="rateFunction(rating)"></span>
                    </p>
                    <p>
                        Driver: <span star-rating ng-model="rating4" max="5" on-rating-selected="rateFunction(rating)"></span>
                    </p>
                    <textarea placeholder="Comments"></textarea>
                    <button class="button button-energized" ng-click="$parent.closeModal()">Rate</button>
                </ion-content>

            </ion-modal-view>
        </script>
        <script id="my-stats.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">Statistics</h1>
                </ion-header-bar>
                <ion-content style="padding: 10px">
                    <canvas id="bar" class="chart chart-bar" data="data" labels="labels" colours="colours" height="100px"></canvas>

                    <button class="button button-energized" ng-click="$parent.closeModal()">Close</button>
                </ion-content>

            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>
